<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <!-- Styling of alphaTab -->
    <style type="text/css">
  .alphaTabSurface { box-shadow: 0 0 10px rgba(0,0,0,0.3); background:#FFF; border-radius:3px; }
  </style>
    
    <!-- Including alphaTab -->
    <script type="text/javascript" src="{{ site.baseurl }}/js/lib/alphatab/AlphaTab.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/js/lib/alphatab/AlphaTab.css" />

    <!-- jQuery Plugin -->
    <script type="text/javascript" src="{{ site.baseurl }}/js/lib/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/lib/alphatab/jquery.alphaTab.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/lib/alphatab/jquery.alphaTab.drop.js"></script>
   
    <!-- Including alphaSynth -->
    <script type="text/javascript" src="{{ site.baseurl }}/js/lib/swfobject/swfobject.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/lib/alphaSynth/alphaSynth.js"></script>
    
    <!-- alphaSynth Plugin -->
    <script type="text/javascript" src="{{ site.baseurl }}/js/lib/alphatab/jquery.alphaTab.alphaSynth.js"></script>
    
    <!-- Demo Styles and Scripts -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/player/gh-buttons.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/player/demo.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/player/player.css" />
</head>
<body>
    <div id="alphaTab" data-file="{{ site.baseurl }}/tabs/{{page.directory}}/{{page.file}}.gpx" data-tracks="2"></div>
    <div id="controls">
        <div id="loadingInfo">Player not ready</div>
        <div id="sfInfo">Loading Soundfont <span class="progress"></span></div>
        <button class="button play" disabled="disabled" id="playPause">Play</button>
        <button class="button" disabled="disabled" id="stop">Stop</button>
    </div>
    
    <script type="text/javascript">
        var playerReady = false;
        var playerState = 0;
        var at = $('#alphaTab');
        
        at.alphaTab(); 
        var as = at.alphaTab('playerInit', {
            asRoot: '{{ site.baseurl }}/js/lib/alphaSynth/',
            swfObjectRoot: '{{ site.baseurl }}/js/lib/alphaSynth/'
        }); // init alphaSynth
        
        as.On('ready', function(r) {
            // load default data
            as.LoadSoundFontUrl('{{ site.baseurl }}/js/player/uke.sf2');
        });
        as.On('soundFontLoad', function(loaded, full) {
            var percentage = ((loaded / full) * 100)|0;
            $('#sfInfo .progress').text('(' + percentage + '%)');
        });
        as.On('soundFontLoaded', function() {
            $('#sfInfo').hide();
        });
        as.On('readyForPlay', function(r) {
            playerReady = r;
            updateControls();
        });
        as.On('playerStateChanged', function(s) {
            playerState = s;
            updateControls();
        });
        
        $('#playPause').click(function() { 
            if(playerState == 1) {
                as.Pause();
            }
            else {
                as.Play();
            }
        });
        $('#stop').click(function() { 
            as.Stop(); 
        });
        
        function updateControls() {
            if(!playerReady) {
                $('#loadingInfo').show()
                $('#controls button').attr('disabled', 'disabled');
            }
            else {
                $('#loadingInfo').hide()
                $('#playPause').removeAttr('disabled');
                $('#layoutButtons button').removeAttr('disabled');
                switch(playerState) {
                    case 0: // stopped
                    $('#playPause').text('Play').removeClass('pause').addClass('play');
                    $('#stop').attr('disabled', 'disabled');
                    break;
                    case 1: // playing
                    $('#playPause').text('Pause').removeClass('play').addClass('pause');
                    $('#stop').removeAttr('disabled');
                    break;
                    case 2: // paused
                    $('#playPause').text('Play').removeClass('pause').addClass('play');
                    $('#stop').removeAttr('disabled');
                    break;
                }
            }
        }     
        at.alphaTab('playerCursor');     
    </script>
    
</body>
</html>